.Rhistory
.Rproj.user
bin/bbmap/
bin/biopieces/
bin/edirect/
bin/itsx/
data/cn/Dirks_WI_MLE_June2019.xlsx
data/lipids/
data/seqs/bioinfo/00_submission
data/seqs/bioinfo/01_raw
data/seqs/bioinfo/02_demultiplexed
data/seqs/bioinfo/03_ccs
data/seqs/bioinfo/04_fastq/*.fastq
data/seqs/bioinfo/04_fastq/noprimers
data/seqs/bioinfo/05_processed/ASVs_processed.fasta
data/seqs/nanodrop
data/seqs/pcr
data/seqs/phylogenetics/itol
data/seqs/ref
figures/
manuscript/
misc/
results/
